<div class="main-container">
  <div class="row">
    <div class="input-group">
      <span class="input-group-btn search-panel">

          <div class="btn-group">
            <button type="button" class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Franja horària
            </button>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item">Esmorzar</a>
              <a class="dropdown-item">Dinar</a>
              <a class="dropdown-item">Sopar</a>
            </div>
          </div>

          <div class="btn-group">
            <button type="button" class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Persones
            </button>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item">1</a>
              <a class="dropdown-item">2</a>
              <a class="dropdown-item">3</a>
              <a class="dropdown-item">4</a>
              <a class="dropdown-item">5</a>
            </div>
          </div>
        </span>
        <input type="text" class="form-control" placeholder="Població, CP o restaurant..." aria-label="Search for...">
        <span class="input-group-btn">
            <button class="btn btn-success" (click)="buscar()" type="button"><i class="fa fa-search" aria-hidden="true"></i> &nbsp;Buscar</button>
        </span>
      </div>

    </div>
</div>
